@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: beige;
    margin: 0;
    width: 100%;
}

.container{
    width: 1100px;
    min-height: 700px;
    background-color: #fff;
    margin: auto;
}

.container header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.container header .logo{
    flex-basis: 20%;
    text-align: center;
}

.container header .logo h1 a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 30px;
}

.container header nav{
    flex-basis: 60%;
}

.container header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.container header nav ul li a{
    text-decoration: none;
    color: rgb(240, 188, 20);
    font-size: 18px;
    display: block;
    width: auto;
    padding: 7px 13px;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    margin: 0 1px;
}

.container header nav ul li a:hover{
    background-color: #fff;
    color: #000;
}

.container header nav ul li a.active{
    background-color: #fff;
    color: #000;
}

.container header .cta{
    flex-basis: 20%;
}

.container header .cta button{
    width: 150px;
    background-color: rgb(56, 54, 54);
    color: #fff;
    border: none;
    height: 40px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.container header .cta button:hover{
    background-color: rgb(37, 36, 36);
}

.container .slider{
    width: 100%;
    height: 550px;
    background-color: cadetblue;
    background-image: url(../images/b3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .slider .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container .slider .content{
    flex-basis: 80%;
    height: auto;
    text-align: center;
    color: #fff;
    font-family: 'Oswald';
    z-index: 999;
}

.container .slider .content h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.container .slider .content p{
    font-size: 16px;
}

.container .slider .content span a{
    display: inline-block;
    width: 150px;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: capitalize;
    height: 45px;
    padding: 10px 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
}

.container .main{
    width: 100%;
    display: flex;
    height: 600px;
}

.container .main .left{
    flex-basis: 50%;
    text-align: justify;
}

.container .main .left .content{
    width: 100%;
    height: 50%;
    padding: 50px 40px;
}

.container .main .left .content-img{
    background-image: url(../images/ab2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
}

.container .main .right{
    flex-basis: 50%;
    background-image: url(../images/ab1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Services Section */

.container .services {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
}

.container .services .back {
    flex-basis: 23%;
    text-align: center;
}

.container .services .back .services-image {
    background-image: url(../images/services1.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .services .back .services-image2 {
    background-image: url(../images/services2.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .services .back .services-image3 {
    background-image: url(../images/services3.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .services .back .services-image4 {
    background-image: url(../images/services4.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .services .top {
    width: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}



.container .services .top .center {
    flex-basis: 100%;
    font-size: larger;
    background-color: rgb(214, 175, 46);
}

.fas, .far {
    background-color: black;
    color: white;
    padding: 3px;
}




/* Team section */

.container .team {
    font-family: 'Roboto' sans-serif;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0 10px;
}

.container .team .team-back {
    flex-basis: 23%;
    text-align: center;
}

.container .team .team-back .team-image {
    background-image: url(../images/team1.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.container .team .team-back .team-image2 {
    background-image: url(../images/team2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container .team .team-back .team-image3 {
    background-image: url(../images/team3.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container .team .team-back .team-image4 {
    background-image: url(../images/team4.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container .team .team-back .color {
    color: rgb(230, 230, 17);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(39, 38, 38);
    font-family: 'Oswalt', sans-serif;
}